#apppage .gradient {
  background: -moz-linear-gradient(
    45deg,
    rgba(42, 27, 161, 0.8),
    rgba(29, 210, 177, 0.8) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(42, 27, 161, 0.8),
    rgba(29, 210, 177, 0.8) 100%
  );
  background: -webkit-gradient(
    linear,
    45deg,
    from(rgba(42, 27, 161, 0.8)),
    to(rgba(29, 210, 177, 0.8))
  );
  background: -o-linear-gradient(
    45deg,
    rgba(42, 27, 161, 0.8),
    rgba(29, 210, 177, 0.8) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(42, 27, 161, 0.8),
    rgba(29, 210, 177, 0.8) 100%
  );
}

#apppage .view {
  /* background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg'); */
  background-image: url('../assets/bg_vector_3.png');

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}

#apppage h6 {
  line-height: 1.7;
}